<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Don't Mix That</title>
  <style>
    body {
      height: 1800px;
      background: linear-gradient(#0066cc 0%, #66b3ff 51%,  #99ccff 75%);
    }
    /* Fonts */
    p {
      font-family:Arial, Verdana, sans-serif;
    }
    h1 {
      font-family:Verdana, Arial, sans-serif;
      font-size: 50px;
      font-weight: bold;
      color: #000000;
    }

    h2 {
      font-family:Verdana, Arial, sans-serif;
      font-size: 40px;
      font-weight: bold;
      color: black;
    }

  </style>
</head>
<body>
{% block content %}
{% endblock content %}
</body>
</html>
