<h1>Book Boi</h1>

<h2>Recipes</h2>
<button type="button">Real Recipe</button>
<button type="button">Fake Recipe</button>
<button type=submit>Submit Nothing</button> 


<h2>Saved Response</h2>
<!-- Takes response and either posts or rejects it -->
<!-- return input to python -->
{% set input = "Salt Water(NAClH2O)" %}
{% set unlocked = [] %}
{% if input not in unlocked %}
    {% unlocked.append(input) %}
    <h3>{{ recipe.name }}</h3>
    <img src="{{ recipe.img }}"></img>
    <p>{{ recipe.description }} | this was discovered:
    <time datetime="{{ time }}">{{ time }}<time></p> #}-->
{% if unlocked == [] %}
    <h3>Oh No!</h3>
    <p>You don't have any saved recipes! - mix and match
        to get your saved recipies here!</p>
{% else %}
    <h1>hello world</h1>
    <!--{# {% for item in unlocked %}
        <h3>{{ recipe.name }}</h3>
        <img src="{{ recipe.img }}"></img>
        <p>{{ recipe.description }}</p>
    {% endfor %} #}-->
{% endif %}