{% extends 'base.html' %}
{% block content %}

  <div class="w3-sidebar w3-bar-block w3-card sidebar">
    <h3 class="w3-bar-item">Menu</h3>
    <a href="#" class="w3-bar-item w3-button elts" id='bleach' data-points=10>Bleach </a>
    <a href="#" class="w3-bar-item w3-button elts" id='vinegar' data-points=50>Vinegar </a>
    <a href="#" class="w3-bar-item w3-button elts" id='ammonia' data-points=100>Ammonia </a>
    <a href="#" class="w3-bar-item w3-button elts" id='alcohol' data-points=100>Rubbing Alcohol </a>
    <a href="#" class="w3-bar-item w3-button elts" id='hydrogenperoxide' data-points=100>Hydrogen Peroxide </a>
    <a href="#" class="w3-bar-item w3-button elts" id='sodium' data-points=100>Sodium </a>
    <a href="#" class="w3-bar-item w3-button elts" id='chlorine' data-points=100>Chlorine </a>
    <button class="doneBtn"> Done </button>
  </div>


  <h1 class='title'>Don't Mix That!</h1>
  
  <div style="margin-right:25%">
    <img class='character' src='static/images/dontmixthat-alchemist.png'height='600' width="auto" alt='alchemist'>
    <img class='pot' src='static/images/dontmixthat-cauldron.png' height='500' width="auto" alt='pot'>

  </div>
  <div id="overlay">
    <h2 id='message'> </h2>
    <div id='choice'>
      <button id='yes'>Yes</button>
      <button id='no'>No</button>
    </div>
    <button id='replay'>Play Again</button>
  </div>
{% endblock %}
