{% extends 'base.html' %}
{% block content %}

  <div class="w3-sidebar w3-bar-block w3-card" style="width:25%;right:0; background-color: rgb(214, 72, 96);">
    <h3 class="w3-bar-item">Menu</h3>
    <a href="#" class="w3-bar-item w3-button elts" id='elt1' data-points=10>Element 1 </a>
    <a href="#" class="w3-bar-item w3-button elts" id='elt2' data-points=50>Element 2 </a>
    <a href="#" class="w3-bar-item w3-button elts" id='elt3' data-points=100>Element 3 </a>

    <button class="doneBtn"> Done </button>
  </div>


  <h1 class='title'>Don't Mix That!</h1>

  <div style="margin-right:25%">
    <img class='character' src='static/images/dontmixthat-alchemist.png'height='600' width="auto" alt='alchemist'>
    <img class='pot' src='static/images/dontmixthat-cauldron.png' height='500' width="auto" alt='pot'>

  </div>
  <div id="overlay">
    <h2 id='message'> </h2>
    <button id='replay'>Play Again</button>

  </div>

{% endblock %}
