{% extends 'base.html' %}
#This is the html for the homepage!
{% block content %}

  <div class="w3-sidebar w3-bar-block w3-card" style="width:25%;right:0;">
    <h3 class="w3-bar-item">Menu</h3>
    <a href="#" class="w3-bar-item w3-button">Element 1</a>
    <a href="#" class="w3-bar-item w3-button">Element 2</a>
    <a href="#" class="w3-bar-item w3-button">Element 3</a>
  </div>

  <div style="margin-right:25%">
    <h1 class='title'>Don't Mix That!</h1>
    <img class='character' src='static/images/dontmixthat-alchemist.png'height='600' width="auto" alt='alchemist'>
    <img class='pot' src='static/images/dontmixthat-cauldron.png' height='500' width="auto" alt='pot'>
  </div>
{% endblock %}
