{# <!-- {% extends 'base.html' %}
{% block content %}
<h1> Welcome to Don't mix it </h1>
<h2>Choose your avatar</h2>
<a href='/game'>Alchemist</a>
<a href='/game'>Mad Scientist</a>
<a href='/game'>Witch</a>
<a href='/game'>Chef</a>
{% endblock %} --> #}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Don't Mix That!</title>
</head>
<body>
  <div action = "http://localhost:5000/index" method = "get"> </div>
</body>
<h3><a href="/play">Play!</a></h3>
</html>
