{% extends 'base.html' %}
<style>
.bg {
  background-image: url('static/images/tempbg.jpg');
}
.logofont {
  font-family: Noteworthy, Verdana, Arial, sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: #FFFFFF;
}
.character{
  margin-top: 4em;
  margin-left: 4em;
}
.character2{
  margin-top: 4em;
  margin-left: 3em;
}
.character3{
  margin-top: 4em;
  margin-left: 2em;
}
.character4{
  margin-top: 4em;
  margin-left: 2em;
}

#div1 {
  width:100px;
  height:30px;
  background-image:url(static/images/BG/background-alchemist.jpeg);
  }

</style>
{% block content %}

<script language="javascript" type="text/javascript">
    function changeDivImage()
    {
        var imgPath = new String();
        imgPath = document.getElementById("div1").style.backgroundImage;

        if(imgPath == "url(images/blue.gif)" || imgPath == "")
        {
            document.getElementById("div1").style.backgroundImage = "url(static/images/BG/background-alchemist.jpeg)";
        }
        else
        {
            document.getElementById("div1").style.backgroundImage = "url(static/images/BG/background-witch.jpeg)";
        }
    }
</script>

<br>
<br>
<center>
<font size="8">Don't Mix That!</font>
<br>
<font size="7">Choose your character:</font>
<p>
        This Javascript Example will change the background image of<br />
        HTML Div Tag onclick event.
    </p>
    <div id="div1">
    </div>
    <br />
    <input type="button" value="Change Background Image" onclick="changeDivImage()" />
<br>
<br>
  <a href='/game' title="baby"><img class= 'character' src="static/images/dontmixthat-alchemist.png" height = '400' width= 'auto' alt="alchemist"</a>
  <a href='/game' title="Selena"><img class= 'character2' src="static/images/dontmixthat-madscientist.png" height = '500' width= 'auto' alt="madscientist"</a>
  <a href='/game' title="Astra"><img class= 'character3' src="static/images/dontmixthat-witch.png" height = '500' width= 'auto' alt="witch"</a>
  <a href='/game' title="Cheffery"><img class= 'character4' src="static/images/dontmixthat-chef.png" height = '500' width= 'auto' alt="Chef"</a>
  </center>
{% endblock %}
